/* fonts */

@font-face {
  font-family: "Cairo";
  src: url("../assets/Fonts/Cairo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  */
* {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
}

/*  */

.background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 210, 210);
}

.weatherCard {
  width: 45%;
  min-height: 40vh;
  background-color: rgb(95, 121, 238);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 0 12px 4px rgba(95, 121, 238, 0.6);
  position: relative;
}

.dateText {
  color: rgb(195, 29, 29);
  font-weight: 700;
}

/* Buttons */

.buttons {
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  gap: 16px;
}

/* Card Heading */

.cityTitle {
  color: rgb(192, 255, 230);
  font-size: 4rem;
}

.dateGrid {
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

/* Card Body */

.weatherCardBody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* Lhs */

.cloudIcon {
  width: 500%;
  height: 100%;
  font-size: 14rem !important ;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3); */
}

/* Rhs */

.degree {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
}

.degreeValue {
  color: white;
  font-weight: 900;
}

.degreeIcon {
  font-size: 48px !important;
  color: cyan;
}

.weatherStatus {
  color: white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

/* lines */

.lines {
  display: flex;
  gap: 24px;
  position: absolute;
  bottom: 24px;
}

.line {
  color: white;
  font-weight: 400;
}
